ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
    /* this is like  justify-content: flex-start; */
  } 

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

  #alumnos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #alumnos td, #alumnos th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  #alumnos tr:nth-child(even){background-color: #f2f2f2;}

  #alumnos tr:hover {background-color: #ddd;}

  #alumnos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  .editar{
    background-color: steelblue;
    color:white;
    padding:10px;
    font-weight: bolder;
    border-radius: 5px;

  }

  .borrar{
    background-color: crimson;
    color:white;
    padding:10px;
    font-weight: bolder;
    border-radius: 5px;
  }

  footer{
    margin-top:10px;
    background-color:#333;
    padding:10px;
    color:aliceblue;
  }


  /* estilos originales de projecto-spotify, nah nvm, el enunciado dice que no se evalua el diseño */



 .podcast-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    list-style-type: disc;
}

.podcast-list li {
    margin: 0;
}

